{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          "Constants": "./app/src/constants",
          "Components": "./app/src/components",
          "Mixins": "./app/src/mixins",
          "Pages": "./app/src/pages",
          "Redux": "./app/src/redux",
          "Theme": "./app/src/theme"
        }
      }
    ]
  ]
}